.app{
  width: 100vw;
  background-image: linear-gradient(to right, #051421, #042727 );
  
}
/*
.app::-webkit-scrollbar {
  display: none;
}
.app {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*/